body{
  background-color: #123;
  color:#fff;
}
.square{
  width: 100px;
  height: 100px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  box-sizing: border-box;
  text-align: center;
}
.square:nth-child(3){
  border-right:none ;
}
  /* .square:nth-child(6)~.square{
    border-bottom:none ;
  } */
.board-row{
  display: flex;
  align-items: center;
  justify-content: center;
}
.board-row:nth-child(4)>.square{
  border-bottom:none ;
}
h4{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
button{
  margin: 15px;
  border-radius: 100%;
  height: 60px;
  width: 65px;
  background-color: #123;
  color:#fff;
}
.button.active {
  transform: translateY(4px);

}
.resetIcon{
  height: auto;
  width: 50px;
}
.scores{
  display: flex;
  justify-content: center;
}
.playerNames{
  margin-top: 30px;
  padding: 15px;
}
.scoreValues{
 display: flex;
 justify-content: center;
}
.button-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.mode-container button.ai {
 color: green; /* Set the desired background color */
  /* Additional styles for the active button */
}.mode-container button.human {
color: green; /* Set the desired background color */
  /* Additional styles for the active button */
}